
<html lang="en">
<head>
     <link rel="stylesheet" href="~/css/Thankyou.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>        
        </head>
        <body>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="/Home/Index"><i class="fa fa-arrow-circle-o-left" id="back" ></i></a>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <i class="fa fa-check-circle"  id="decom"></i>
            <div class="container" >
            <a asp-action="Feedback" asp-controller="Home" class="button">Rate Us</a>
            </div>             
         </body>  
         </html>